@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap');

body{
    margin: 54px 0 0;
}
body, input, button{
    font-family: 'Noto Sans TC', sans-serif;
}

a:link{text-decoration: none;}
a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
a:active{text-decoration: none;}

.navigation__background{
    position: fixed;
    top: 0;
    background-color: #FFF;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 54px;
    width: 100%;
    z-index: 500;
}
.navigation{
    position: fixed;
    top: 0;
    width: 1200px;
    height: 54px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 501;
}
.navigation__title{
    width: auto;
    font-size: 30px;
    font-weight: 700;
    color: #448899;
    line-height: 34px;
    cursor: pointer;
}
.navigation__menu{
    width: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.navigation__button{
    padding: 10px;
    background-color: #FFF;
    border: none;
    color: #666;
    font-size: 16px;
    font-weight: 500;
    line-height: 13.3px;
    cursor: pointer;
}
.footer{
    width: 100%;
    height: 104px;
    background-color: #757575;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:#FFF;
    font-size: 16px;
    font-weight: 700;
}
.elem--hide{
    display: none;
}
.elem--block{
    display: block;
}
.elem--invisible{
    visibility: hidden;
}
.member__background{
    position: fixed;
    z-index: 600;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.4;
    animation: member__background_fade_in 0.7s ease-in-out;
}
@keyframes member__background_fade_in{
    from {opacity: 0;}
    to {opacity: 0.4;}
}
.member__container{
    position: fixed;
    z-index: 601;
    top: 80px;
    left: calc((100% - 340px)/2);
    width: 340px;
    border-radius: 6px;
    background-color: #FFF;
    animation: member__container_fade_in 0.7s ease-in-out;
}
@keyframes member__container_fade_in{
    from {opacity: 0; top: 40px;}
    to {opacity: 1; top: 80px;}
}
.member__decorator_bar{
    width: 340px;
    height: 10px;
    border-radius: 6px 6px 0px 0px;
    background-image: linear-gradient(to right, #6AB, #378);
    background-color: #378;
}
.member__close_icon{
    position: absolute;
    width: 16px;
    height: 16px;
    background-image: url("../image/close_icon.png");
    top: 27px;
    right: 17px;
    cursor: pointer;
}
.member__title{
    margin: 15px 0;
    text-align: center;
    color: #666;
    font-weight: 700;
    font-size: 24px;
    line-height: 27px;
}
.member__input{
    display: block;
    margin: 0 auto 10px;
    padding: 15px;
    width: 280px;
    height: 17px;
    border-radius: 5px;
    border: 1px solid #CCC;
    color: #757575;
    font-size: 16px;
    font-weight: 500;
    line-height: 17px;
}
.member__submit{
    display: block;
    margin: 0 auto 10px;
    width: 310px;
    height: 47px;
    border-radius: 5px;
    border: none;
    background-color: #489;
    text-align: center;
    color: #FFF;
    font-size: 19px;
    font-weight: 400;
    line-height: 47px;
    cursor: pointer;
}
.member__text--normal{
    margin: 0 auto 10px;
    color: #666;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
}
.member__text--success{
    color: green;
    margin-bottom: 10px;
}
.member__text--error{
    color: red;
    margin-bottom: 10px;
}
.member__text--pointer{
    cursor: pointer;
}
@media(max-width:1200px){
    .navigation{
        width: 100%;
    }
    .navigation__title{
        margin-left: 10px;
    }
}