body{
    display: none;
}
.navigation__background{
    border:solid 1px #E8E8E8;
}
.footer{
    margin-top: 62px;
}
.greeting{
    width: 1000px;
    margin: 0 auto;
    padding: 46px 0 35px;
    color: #666;
    font-size: 19px;
    font-weight: 700;
}
.attraction__container{
    position: relative;
    width: 980px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.attraction__image{
    width: 250px;
    height: 200px;
    overflow: hidden;
}
.attraction__container img{
    display: block;
    object-fit: cover;
    width: 100%;
    height: 200px;
}
.attraction__text_container{
    margin-left: 30px;
    width: 700px;
    font-size: 16px;
    color: #666;
    font-weight: 700;
    line-height: 24px;
}
.attraction__del_icon{
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    background-image: url("../image/delete_icon.png");
    cursor: pointer;
}
.attraction__title{
    margin-bottom: 20px;
    color: #489;
}
.attraction__subtitle{
    margin-bottom: 10px;
}
.attraction__context{
    font-weight: 500;
}
.separator{
    border: none;
    width: 1200px;
    height: 1px;
    background-color: #E8E8E8;
    margin: 40px auto;
}
.form__container{
    margin: 0 auto;
    width: 1200px;
    color: #666;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}
.form__title{
    margin: 0 auto;
    width: 980px;
    height: 24px;
    padding-bottom: 20px;
    font-weight: 700;
}
.form__item{
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding-bottom: 15px;
    width: 980px;
}
.form__input{
    padding: 10px;
    width: 178px;
    height: 18px;
    border-radius: 5px;
    border: 1px solid #E8E8E8;
    font-weight: 500;
    font-size: 16px;
}
.notice{
    margin: 0 auto;
    width: 980px;
    color: #666;
    font-weight: 700;
}
.form__confirm_container{
    width: 980px;
    margin: 0 auto;
}
.form__amount{
    margin-bottom: 22px;
    height: 20px;
    color:  #666;
    text-align: right;
    font-weight: 700;
    line-height: 20px;
}
.form__submit{
    margin-left: auto;
    width: 173px;
    height: 36px;
    border: none;
    border-radius: 5px;
    background: #489;
    color: #FFF;
    text-align: center;
    font-size: 19px;
    font-weight: 400;
    line-height: 16px;
    cursor: pointer;
}
.form__submit:disabled{
    background-color: #8f8f8f;
    cursor: default;
}
.form__submit--loading{
    margin-left: auto;
    width: 173px;
    height: 36px;
    background-color: #8f8f8f;
    border: none;
    border-radius: 5px;
    color: #FFF;
    text-align: center;
    font-size: 19px;
    font-weight: 400;
    line-height: 16px;
}
.fa{
    margin-left: -12px;
    margin-right: 8px;
}
.none__text{
    display: inline-block;
    height: 24px;
    color: #666;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}
.tpfield{
    height: 18px;
    width: 178px;
    padding: 10px;
    border: 1px solid #E8E8E8;
    border-radius: 5px;
}

@media(max-width: 1200px){
    .separator{
        width: calc(100% - 20px);
    }
    .form__container{
        width: 100%;
    }
}
@media(max-width:1000px){
    .greeting{
        width: calc(100% - 10px);
        padding-left: 10px;
    }
    .attraction__container{
        width: calc(100% - 20px);
    }
    .attraction__text_container{
        width: calc(100% - 320px);
    }
    .form__title{
        width: calc(100% - 20px);
    }
    .form__item{
        width: calc(100% - 20px);
    }
    .notice{
        width: calc(100% - 20px);
    }
    .form__confirm_container{
        width: calc(100% - 20px);
    }
}
@media(max-width:600px){
    .attraction__image{
        width: 100%;
    }
    .attraction__text_container{
        width: 100%;
        margin: 35px 0 10px;
    }
    .attraction__del_icon{
        top: auto;
        bottom: -10px;
    }
}
