{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="../static/css/attraction.css">
{% endblock %}

{% block main %}
<div class="profile">
    <div class="profile__slide_show">
        <div class="profile__slide_choice"></div>
        <button class="profile__prev_slide_btn" onclick="prevSlide()"></button>
        <button class="profile__next_slide_btn" onclick="nextSlide()"></button>
    </div>
    <div class="profile__info_container">
        <div class="profile__info_name"></div>
        <div class="profile__info_cat_mrt"></div>
        <div class="booking">
            <div class="booking__title">訂購導覽行程</div>
            <div class="booking__slogan">以此景點為中心的一日行程，帶您探索城市角落故事</div>
            <form id="booking_form" onsubmit="addItemToCart(event)">
                <div class="booking__form_object">
                    <span class="booking__title">選擇日期：</span>
                    <input type="date" class="booking__date" name="date" required>
                    <span class="booking__date_icon">
                        <button type="button"></button>
                    </span>
                </div>
                <div class="booking__form_object">
                    <span class="booking__title">選擇時間：</span>
                    <label class="booking__time_item">上半天
                        <input type="radio" name="time" value="forenoon" checked>
                        <span class="booking__checkmark"></span>
                    </label>
                    <label class="booking__time_item">下半天
                        <input type="radio" name="time" value="afternoon">
                        <span class="booking__checkmark"></span>
                    </label>
                </div>
                <div class="booking__form_object">
                    <span class="booking__title">導覽費用：</span>
                    <span class="booking__price">新台幣 2000 元</span>                            
                </div>
                <div class="booking__form_object">
                    <input type="submit" value="開始預約行程" class="booking__submit">
                </div>
            </form>
        </div>
    </div>
</div>
<hr class="separator">
<div class="detail__text" id="description"></div>
<div class="detail__title">景點地址：</div>
<div  class="detail__text" id="address"></div>
<div class="detail__title">交通方式：</div>
<div  class="detail__text" id="transport"></div>
{% endblock %}

{% block script %}
<script type="text/javascript" src="../static/js/attraction.js" defer></script>
{% endblock %}