{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="../static/css/booking.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block main %}
<div class="greeting">您好，<span id="member_name"></span>，待預定的行程如下：</div>
<section class="elem--hide" id="booking_info">
    <div class="attraction__container">
        <div class="attraction__image">
            <img id="attraction_img">
        </div>
        <div class="attraction__text_container">
            <div class="attraction__del_icon" onclick="delBookingItem()"></div>
            <div class="attraction__title">台北一日遊：<span id="attraction_name"></span></div>
            <div class="attraction__subtitle">日期：<span class="attraction__context" id="booking_date"></span></div>
            <div class="attraction__subtitle">時間：<span class="attraction__context" id="booking_time"></span></div>
            <div class="attraction__subtitle">費用：<span class="attraction__context">新台幣 <span id="booking_price"></span> 元</span></div>
            <div class="attraction__subtitle">地點：<span class="attraction__context" id="attraction_address"></span></div>
        </div>
    </div>
    <hr class="separator">
    <div class="form__container">
        <form id="contact_form" onsubmit="confirmBooking(event)">
            <div class="form__title">您的聯絡資訊</div>
            <div class="form__item">
                <label class="form__subtitle">聯絡姓名：<input class="form__input" id="member_name" name="name" type="text" required></label>
            </div>
            <div class="form__item">
                <label class="form__subtitle">聯絡信箱：<input class="form__input" id="member_email" name="email" type="text" pattern="[^@\s]+@[^@\s]+\.[^@\s]+" required></label>
            </div>
            <div class="form__item">
                <label class="form__subtitle">手機號碼：<input class="form__input" type="tel" name="phone" pattern="09[0-9]{8}" required></label>
            </div>
            <div class="notice">請保持手機暢通，準時到達，導覽人員將用手機與您聯繫，務必留下正確的聯絡方式。</div>
            <hr class="separator">
            <div class="form__title">信用卡付款資訊</div>
            <div class="form__item">
                <span class="form__subtitle">卡片號碼：</span><div class="tpfield" id="card-number"></div>
            </div>
            <div class="form__item">
                <span class="form__subtitle">過期時間：</span><div class="tpfield" id="card-expiration-date"></div>
            </div>
            <div class="form__item">
                <span class="form__subtitle">驗證密碼：</span><div class="tpfield" id="card-ccv"></div>
            </div>
            <hr class="separator">
            <div class="form__confirm_container">
                <div class="form__amount">總價：新台幣 <span id="amount"></span> 元</div>
                <input class="form__submit elem--block" type="submit" value="確認訂購並付款" disabled>
                <button class="form__submit--loading elem--hide" disabled>
                    <i class="fa fa-spinner fa-spin"></i>訂單處理中
                </button>
            </div>
        </form>
    </div>
</section>
<section class="elem--hide" id="booking_info--none">
    <div class="attraction__container">
        <span class="none__text">目前沒有任何待預訂的行程</span>
    </div>
</section>
{% endblock %}

{% block script %}
<script src="https://js.tappaysdk.com/sdk/tpdirect/v5.17.0"></script>
<script type="text/javascript" src="../static/js/booking.js" defer></script>
{% endblock %}