<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../static/index.css">
        <title>Taipei Trip 台北一日遊</title>
    </head>
    <body>
        <div class="navigation__background">
            <div class="navigation">
                <a href="/"><div class="navigation__title">台北一日遊</div></a>
                <div class="navigation__menu">
                    <button class="navigation__button">預定行程</button>
                    <button class="navigation__button" id="member_btn" onclick="toggleSigninSignup()">登入/註冊</button>
                </div>
            </div>
        </div>
        <div class="hero_section">
            <div class="slogan">
                <div class="slogan__title">輕鬆享受台北一日悠閒</div>
                <div class="slogan__body">探索每個角落，體驗城市的深度旅遊行程</div>
                <form class="search_bar">
                    <input class="search_bar__box" type="text" placeholder="輸入景點名稱查詢">
                    <button class="search_bar__button"><img class="search_bar__icon" src="../static/search_icon.png"></button>
                </form>
            </div>
        </div>
        <div class="list_bar">
            <button class="list_bar__left_arrow"></button>
            <div class="container"></div>
            <button class="list_bar__right_arrow"></button>
        </div>
        <div class="attractions"></div>
        <div class="footer">COPYRIGHT © 2021 台北一日遊</div>
        <div class="member__background elem--hide"></div>
        <div class="member__container elem--hide">
            <div class="member__decorator_bar"></div>
            <div class="member__title"></div>
            <div class="member__close_icon" onclick="closeSigninSignup()"></div>
            <div id="signin_item" class="elem--hide">
                <form id="signin_form" onsubmit="signin(event)">
                    <input class="member__input" type="text" name="email" placeholder="輸入電子信箱" required>
                    <input class="member__input" type="password" name="password" placeholder="輸入密碼" required>
                    <input class="member__submit" type="submit" value="登入帳戶">
                </form>
                <div class="member__text--normal" id="signin_text">
                    <div class="member__text--error"></div>
                    <span>還沒有帳戶？</span>
                    <span class="member__text--pointer" onclick="showSignupPage(); return false">點此註冊</span>
                </div>
            </div>
            <div id="signup_item" class="elem--hide">
                <form id="signup_form" onsubmit="signup(event)">
                    <input class="member__input" type="text" name="name" placeholder="輸入姓名" required>
                    <input class="member__input" type="text" name="email" placeholder="輸入電子信箱" required>
                    <input class="member__input" type="password" name="password" placeholder="輸入密碼" required>
                    <input class="member__submit" type="submit" value="註冊新帳戶">
                </form>
                <div class="member__text--normal" id="signin_text">
                    <div class="member__text--success"></div>
                    <div class="member__text--error"></div>
                    <span>已經有帳戶了？</span>
                    <span class="member__text--pointer" onclick="showSigninPage(); return false">點此登入</span>
                </div>
            </div>
        </div>
        <script>
            let nextPage = 0;
            let keyword = '';
            let attractionsElem = document.querySelector('.attractions');
            let searchBtnElem = document.querySelector('.search_bar__button');
            let searchKeywordElem = document.querySelector('.search_bar__box');
            let leftArrowElem = document.querySelector('.list_bar__left_arrow');
            let rightArrowElem = document.querySelector('.list_bar__right_arrow');
            let containerElem = document.querySelector('.container');
            // 捲動顯示下一頁
            const callback = (entries) => {
                if(entries[0].isIntersecting && nextPage != null){
                    getAttractionsData(nextPage, keyword);
                    observer.unobserve(entries[0].target);
                }else if(nextPage == null){
                    observer.disconnect();
                };
            };
            const observer = new IntersectionObserver(callback);
            // 捷運清單捲動
            leftArrowElem.addEventListener('click', () => {
                containerElem.scrollLeft -= (containerElem.clientWidth-100);
            });
            rightArrowElem.addEventListener('click', () => {
                containerElem.scrollLeft += (containerElem.clientWidth-100);
            });
            // 捷運站清單按鈕
            function searchMrt(btn){
                searchKeywordElem.value = btn.textContent;
                searchBtnElem.click();
            };
            // 取得捷運列表
            (function getMrtsList(){
                fetch('/api/mrts').then(function(response){
                    return response.json();
                }).then(function(data){
                    for(let i=0; i<data['data'].length; i++){
                        if (data['data'][i] != 'None'){
                            let mrtButton = document.createElement('button');
                            mrtButton.className = 'list_item';
                            mrtButton.setAttribute('onclick', 'searchMrt(this)');
                            mrtButton.textContent = data['data'][i];
                            containerElem.appendChild(mrtButton);
                        };
                    };
                }).catch(function(error){
                    console.log(error['message']);
                });
            })();
            // 將取得的data渲染到畫面
            function renderAttractions(data){
                for(i=0; i<data['data'].length; i++){
                    let attractionBoxDiv = document.createElement('div');
                    attractionBoxDiv.className = 'attraction__box';
                    let attractionImg = document.createElement('img');
                    attractionImg.setAttribute('src',data['data'][i]['images'][0]);
                    let attractionNameDiv = document.createElement('div');
                    attractionNameDiv.className = 'attraction__name';
                    attractionNameDiv.textContent = data['data'][i]['name'];
                    let attractionDetailDiv = document.createElement('div');
                    attractionDetailDiv.className = 'attraction__detail';
                    let mrtDiv = document.createElement('div');
                    mrtDiv.textContent = data['data'][i]['mrt'];
                    let catDiv = document.createElement('div');
                    catDiv.textContent = data['data'][i]['category'];
                    let url = document.createElement('a');
                    url.setAttribute('href', `/attraction/${data['data'][i]['id']}`);
                    attractionDetailDiv.appendChild(mrtDiv);
                    attractionDetailDiv.appendChild(catDiv);
                    attractionBoxDiv.appendChild(attractionImg);
                    attractionBoxDiv.appendChild(attractionNameDiv);
                    attractionBoxDiv.appendChild(attractionDetailDiv);
                    url.appendChild(attractionBoxDiv);
                    attractionsElem.appendChild(url);
                };
            };
            // 取得景點DATA後渲染&無限捲動
            function getAttractionsData(page, keyword){
                fetch(`/api/attractions?page=${encodeURIComponent(page)}&keyword=${encodeURIComponent(keyword)}`).then(function(response){
                    return response.json();
                }).then(function(data){
                    nextPage = data['nextPage'];
                    if(data['data'].length == 0){
                        attractionsElem.textContent = '找不到相關的景點';
                    }else{
                        renderAttractions(data);
                        observer.observe(document.querySelector('.attractions').lastChild);
                    }
                }).catch(function(error){
                    console.log(error['message']);
                });
            };
            // 搜尋框按鈕
            searchBtnElem.addEventListener('click', function(e){
                e.preventDefault();
                keyword = searchKeywordElem.value;
                nextPage = 0;
                while (attractionsElem.hasChildNodes()){
                    attractionsElem.removeChild(attractionsElem.lastChild);
                };
                getAttractionsData(nextPage, keyword);
            });
            getAttractionsData(nextPage, keyword);

            // 驗證登入狀態
            (function authenticateUser(){
                if(localStorage.getItem('token')){
                    let token = localStorage.getItem('token');
                    fetch('/api/user/auth',{
                        method: 'GET',
                        headers:{
                            'authorization': `Bearer ${token}`
                        }
                    }).then(function(response){
                        return response.json();
                    }).then(function(data){
                        if(data['data'] != null){
                            let memberBtnElem = document.querySelector('#member_btn');
                            memberBtnElem.textContent = '登出系統';
                            memberBtnElem.setAttribute('onclick', 'signout()');
                        };
                    })
                };
            })();
            // 清空登入/註冊頁面的回饋訊息
            function clearReminder(){
                let successMessageElem = document.querySelector('.member__text--success');
                let errorMessageElem = document.querySelectorAll('.member__text--error');
                successMessageElem.textContent = '';
                errorMessageElem[0].textContent = '';
                errorMessageElem[1].textContent = '';
            };
            // 清空登入表單的值
            function clearSigninValue(){
                let signinValue = document.querySelector('#signin_form');
                signinValue.reset();
            };
            // 清空註冊表單的值
            function clearSignupValue(){
                let signupValue = document.querySelector('#signup_form');
                signupValue.reset();
            };
            // 開啟登入/註冊頁面
            function toggleSigninSignup(){
                let memberBackgroundElem = document.querySelector('.member__background');
                let memberContainerElem = document.querySelector('.member__container');
                memberBackgroundElem.classList.replace('elem--hide', 'elem--block');
                memberContainerElem.classList.replace('elem--hide', 'elem--block');
                showSigninPage();
            };
            // 關閉登入/註冊頁面
            function closeSigninSignup(){
                let memberBackgroundElem = document.querySelector('.member__background');
                let memberContainerElem = document.querySelector('.member__container');
                memberBackgroundElem.classList.replace('elem--block', 'elem--hide');
                memberContainerElem.classList.replace('elem--block', 'elem--hide');
                clearSigninValue();
                clearSignupValue();
            };
            // 切換到登入頁面
            function showSigninPage(){
                let memberTitleElem = document.querySelector('.member__title');
                let signinItemElem = document.querySelector('#signin_item');
                let signupItemElem = document.querySelector('#signup_item');
                memberTitleElem.textContent = '登入會員帳號';
                signinItemElem.className = 'elem--block';
                signupItemElem.className = 'elem--hide';
                clearReminder();
                clearSignupValue();
            };
            // 切換到註冊頁面
            function showSignupPage(){
                let memberTitleElem = document.querySelector('.member__title');
                let signinItemElem = document.querySelector('#signin_item');
                let signupItemElem = document.querySelector('#signup_item');
                memberTitleElem.textContent = '註冊會員帳號';
                signinItemElem.className = 'elem--hide';
                signupItemElem.className = 'elem--block';
                clearReminder();
                clearSigninValue();
            };
            // 註冊帳號
            function signup(event){
                event.preventDefault();
                clearReminder();
                let signupFormData = new FormData(document.querySelector('#signup_form'));
                let emailRule = /^\w+((-\w+)|(\.\w+))*\@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z]+$/;
                if(signupFormData.get('email').search(emailRule) == -1){
                    let errorMessageElem = document.querySelectorAll('.member__text--error')[1];
                    errorMessageElem.textContent = 'Email格式錯誤';
                }else{
                    let userData = {
                        'name': signupFormData.get('name'),
                        'email': signupFormData.get('email'),
                        'password':signupFormData.get('password')
                    };
                    fetch('/api/user',{
                        method: 'POST',
                        headers:{
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(userData)
                    }).then(function(response){
                        return response.json();
                    }).then(function(data){
                        clearReminder();
                        if(data.error){
                            let errorMessageElem = document.querySelectorAll('.member__text--error')[1];
                            errorMessageElem.textContent = data['message'];
                        }else if(data.ok){
                            let successMessageElem = document.querySelector('.member__text--success');
                            successMessageElem.textContent = '註冊成功，請登入系統';
                        };
                    })
                };
            };
            // 登入系統
            function signin(event){
                event.preventDefault(),
                clearReminder();
                let signinFormData = new FormData(document.querySelector('#signin_form'));
                let userData = {
                    'email':signinFormData.get('email'),
                    'password':signinFormData.get('password'),
                };
                fetch('/api/user/auth', {
                    method: 'PUT',
                    headers:{
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(userData)
                }).then(function(response){
                    return response.json();
                }).then(function(data){
                    clearReminder();
                    if(data.error){
                        let errorMessageElem = document.querySelectorAll('.member__text--error')[0];
                        errorMessageElem.textContent = data['message'];
                    }else{
                        localStorage.setItem('token', data.token);
                        location.reload();
                    };
                });
            };
            // 登出系統
            function signout(){
                localStorage.clear('token');
                location.reload();
            };
        </script>
    </body>
</html>