{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="../static/css/index.css">
{% endblock %}

{% block main %}
<div class="hero_section">
    <div class="slogan">
        <div class="slogan__title">輕鬆享受台北一日悠閒</div>
        <div class="slogan__body">探索每個角落，體驗城市的深度旅遊行程</div>
        <form class="search_bar">
            <input class="search_bar__box" type="text" placeholder="輸入景點名稱查詢">
            <button class="search_bar__button"><img class="search_bar__icon" src="../static/image/search_icon.png"></button>
        </form>
    </div>
</div>
<div class="list_bar">
    <button class="list_bar__left_arrow"></button>
    <div class="container"></div>
    <button class="list_bar__right_arrow"></button>
</div>
<div class="attractions"></div>
{% endblock %}

{% block script %}
<script type="text/javascript" src="../static/js/index.js" defer></script>
{% endblock %}